.idea
packages/next-state-adapter/node_modules
packages/next-state-adapter/dist

examples/mobx-next-app/node_modules
examples/mobx-next-app/.next

examples/zustand-next-app/node_modules
examples/zustand-next-app/.next

docs/next-state-adapter-docs/node_modules
docs/next-state-adapter-docs/.docusaurus